#main {
  margin-top: 6em;
}

#content {
  margin-top: 3em;
}

.center-content {
  display: flex;
  justify-content: center;
}

.errorEntry {
  margin-left: 10px;
  margin-right: 10px;
}

.input-entry {
  margin-bottom: 10px;
}

.errorEntry {
  color: red;
}

.department-course-select, .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: auto;
}

.main-container input {
  width: 50%;
  margin: auto
}

.department-course-select div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.item-select > * {
  margin-left: 10px;
}

